.cards {
  counter-reset: section;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 77px 52px;
    margin-top: 130px;

    @media (max-width: 1250px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      margin-top: 75px;
    }
  }

  &__card {
    color: var(--color-black);
    position: relative;
    text-align: center;
    border-radius: 8px;
    transition: color 1s;
    max-width: 335px;
    width: 100%;
    margin-inline: auto;

    @media (max-width: 1520px) {
      padding-inline: 25px;
    }

    &::before {
      counter-increment: section;
      content: counter(section);
      font-size: 20px;
      font-weight: 300;
    }

    .section-title {
      margin-bottom: 12px;
    }

    p + p {
      margin-top: 20px;
    }

    .p {
      font-size: 19px;
      font-weight: 400;
      line-height: 1.7;
      color: inherit;
    }

    .content {
      margin-top: 27px;
    }

    .content p {
      line-height: 1.2;
      font-size: 26px;
      font-weight: 300;

      @media (max-width: 1024px) {
        font-size: 20px;
      }
    }

    &-title {
      font-size: 50px;
    }
  }

  &__card:nth-child(3),
  &__card:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &.cards--simple-borders {
    .container {
      grid-template-columns: 1fr;
      row-gap: 118px;
    }
    
   .cards__card:nth-child(3),
    .cards__card:nth-child(6) {
      grid-column-start: auto;
      grid-column-end: auto;
    }

    .cards__card {
      padding-block: 0;
    
      &::before {
        display: none;
      }
    }
  }
}
