.site-footer {
  color: var(--color-black);
  transition: color 1s;
  padding-block: 78px 25px;

  @media (max-width: 768px) {
    padding-block: 115px 60px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

    p {
      font-size: 18px;
    }
  }

  .btn-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 212px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      margin-bottom: 78px;
    }
  }
}