.hero {
  padding-block: 18px 0;
  color: var(--color-black);
  transition: color 1s;

  @media (max-width: 1440px) {
   padding-block: 53px 0;
  }

  .tagline {
    margin-bottom: 20px;
    line-height: 12px;
  }

  h1 + p {
    width: 100%;
    max-width: 844px;
    margin-inline: auto;
    margin-top: -20px;
    font-size: 37px;
    color: #848383;
    font-weight: 300;

    @media (max-width: 1120px) {
      font-size: 40px;
    }
  }

  .site-brand {
    margin-bottom: 102px;

    img {
      max-width: 100%;
    }

    @media (max-width: 1024px) {
      margin-bottom: 46px;
    }
  }

  &__content {
    margin-block: 122px 0;

    @media (max-width: 1024px) {
      margin-block: 63px 0;

      h1 + p {
        margin-bottom: 0;
      }
    }
  }

  &.contact-form {
    .site-brand {
      margin-bottom: 115px;

      @media (max-width: 1440px) {
        margin-bottom: 100px;
      }

      @media (max-width: 1024px) {
        margin-bottom: 73px;
      }
    }
  }
}
