.logos {
  color: var(--color-black);
  padding-block: 140px 170px;

  @media (max-width: 1024px) {
    padding-block: 60px 128px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 73px;


    @media (max-width: 1510px) {
      column-gap: 20px;
    }

    @media (max-width: 1245px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 32px;
    }
  }

  .container + .container {
    margin-top: 40px;
  }

  &__logo {
    width: 310px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    border-radius: 50%;
    transition: background-color 1s;

    svg, path, rect {
      fill: var(--primary-color);
      stroke: var(--primary-color);
    }

    @media (max-width: 1350px) and (min-width: 1245px) {
      width: 280px;
      height: 280px;
    }
  }


}