.text {
  color: var(--color-black);

  .section-description {
    margin-block: 8px 90px;
  }

  .p + .p,
  p + p {
    margin-top: 35px;
  }

  .p,
  .content {
    max-width: 1110px;
    margin-inline: auto;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;

      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }
  }

  // &#designed {
  //   .content {
  //     max-width: 769px;
  //   }
  //    @media (max-width: 768px) { 
  //     .section-description {
  //       font-size: 36px;
  //       max-width: 280px;
  //       margin: 10px auto 31px;
  //     }
  //   }
  // }

  &#how {
    .section-title {
      max-width: 690px;
      margin-inline: auto;
      line-height: 1;
    }

    @media (max-width: 768px) { 
      .section-description {
        font-size: 36px;
        max-width: 280px;
        margin: 50px auto 35px;
      }
    }
  }

  // &#process {
  //   .section-title {
  //     max-width: 630px;
  //     margin-inline: auto;
  //     line-height: 1;
  //   }

  //   @media (max-width: 768px) {
  //     .section-title {
  //       max-width: 260px;
  //       margin-inline: auto;
  //     }

  //     .section-description {
  //       font-size: 36px;
  //       max-width: 310px;
  //       margin: 17px auto 0;
  //     }
  //   }
  // }

  // &#how {
  //   @media (max-width: 768px) {
  //     .section-title {
  //       font-size: 60px;
  //       max-width: 200px;
  //       margin-inline: auto;
  //     }

  //     .section-description {
  //       font-size: 36px;
  //       max-width: 320px;
  //       margin: 50px auto 0;
  //     }

  //     .content {
  //       margin-top: 35px;
  //     }
  //   }
  // }

  &__img {
    margin-bottom: 40px;
    max-width: 300px;
    margin-inline: auto;

    svg, path {
      fill: var(--color-black);
      stroke: var(--color-black);
    }

    img {
      max-width: 100%;
      width: 100%;
    }
    &:empty {
      display: none;
    }
  }

  &--with-btn {
    .section-description {
      margin-bottom: 50px;
    }

    .p {
      margin-top: 50px;
    }
  }

  &:not(.button--sticky) .sticky-btn {
    display: none;
  }
}


