.text {
  color: var(--color-black);

  .section-description {
    margin-block: 8px 90px;
  }

  @media (max-width: 768px) {
    padding-bottom: 18px;
  }

  .p + .p,
  p + p {
    margin-top: 35px;
  }

  .p,
  .content {
    max-width: 1110px;
    margin-inline: auto;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;

      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }
  }

  &#designed {
     @media (max-width: 768px) { 
      .section-description {
        max-width: 230px;
        margin: 22px auto 40px;
      }
    }
  }

  &#how {
    .section-title {
      max-width: 690px;
      margin-inline: auto;
      line-height: 1;
    }

    @media (max-width: 768px) { 
      .section-description {
        font-size: 26px;
        max-width: 316px;
        margin: 50px auto 35px;
      }
    }
  }

  &#why {
    @media (max-width: 768px) { 
      .section-description {
        max-width: 284px;
        margin-inline: auto;
      }
    }
  }

  &__img {
    margin-bottom: 40px;
    max-width: 300px;
    margin-inline: auto;

    svg, path {
      fill: var(--color-black);
      stroke: var(--color-black);
    }

    img {
      max-width: 100%;
      width: 100%;
    }
    &:empty {
      display: none;
    }
  }

  &--with-btn {
    .section-description {
      margin-bottom: 50px;
    }

    .p {
      margin-top: 50px;
    }
  }

  &:not(.button--sticky) .sticky-btn {
    display: none;
  }
}

.about-text {
  .section-title {
    font-size: 70px;

    @media (max-width: 768px) {
      margin-top: 60px;
      line-height: 65px;
      max-width: 290px;
      margin-inline: auto;
      text-align: center;
      font-size: 60px;
    }
  }

  .content {
    margin-top: 50px;

    @media (max-width: 768px) {
      margin-top: 46px;
    }
  }

  &--small .content {
    max-width: 940px;
  }

  &--small .section-title {
    @media (max-width: 768px) {
      max-width: 305px;
    }
  }
}

.hero + .about-text {
  margin-top: 160px;

  @media (max-width: 768px) {
    margin-top: 97px;
  }
}

.about-text + .about-text {
  margin-top: 127px;
}

.about-text + #how {
  margin-top: 200px;

  @media (max-width: 768px) {
    margin-top: 137px;
  }
}

.only-text {
  margin-top: 80px;
  max-width: 980px;
  margin-inline: auto;
  width: 100%;
}