.text {
  .section-description {
    margin-block: 8px 90px;
  }

  .p + .p,
  p + p {
    margin-top: 35px;
  }

  .p,
  .content {
    max-width: 1110px;
    margin-inline: auto;

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.7;

      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }
  }

  &__img {
    margin-bottom: 60px;
    max-width: 190px;
    margin-inline: auto;

    img {
      max-width: 100%;
    }
    &:empty {
      display: none;
    }
  }

  &--with-btn {
    .section-description {
      margin-bottom: 50px;
    }

    .p {
      margin-top: 50px;
    }
  }

  &:not(.button--sticky) .sticky-btn {
    display: none;
  }
}
