@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: Arial;
  font-weight: 900;
  src: url(font/ArialBlack.woff);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  transition: 1s;
}

.h2.brand {
  display: block;
}

html {
  scroll-behavior: smooth;
}

.site-header {
  @media (max-width: 768px) {
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 2;
    box-shadow: 0 0 10px black;
  }

  &__container {
    padding: 42px 52px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      padding: 20px 20px;

      .order-1-on-mobiles {
        order: -1;
      }
    }
  }

  .btn {
    font-size: 18px;
    padding: 0;
    box-shadow: none;
    margin-right: 35px;
    font-weight: bold;
    text-align: center;
    
    @media (max-width: 768px) {
      width: 300px;
      font-size: 10px;
      margin-right: 0;
      padding-block: 10px;
      transition: 0.3s;

      &:hover {
        background-color: #232620;
        color: #fff;
      }
    }

    &--hide-on-desktop {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    @media (max-width: 768px) {
      &--sticky-on-mobile {
        position: fixed;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #FFFFFF;
        color: #000000;
        filter: drop-shadow(2px 2px 30px black);
        padding: 20px 40px;
        margin-right: 0;
        font-size: 16px;
        white-space: nowrap;
      }
    }
  }

      @media (max-width: 768px) {
      .active  .btn {
        background-color: #232620;
        color: #fff;
      }
    }

  .sub-nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 42px;
    right: 52px;
    z-index: 100;

    @media (max-width: 768px) {
      right: 20px;
      top: 18px;
      position: absolute;
    }
    
    ul {
      max-width: 0;
      overflow: hidden;
      display: flex;
      list-style: none;
      transition: 1s;

      &.show {
        max-width: 500px;
      }

      @media (max-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        a {
          font-size: 40px;
          color: #000;
        }
      }
    }
  }

  .hamburger-menu {
    background: none;
    border: none;
    font-family: 'Lato';
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    .plus {
      display: block;
      height: 18px;
      width: 2px;
      background-color: #fff;
      transition: 1s;
    }

    .minus {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

     @media (max-width: 768px) {
      .plus, .minus {
        transition: 1s;
      }
    }

    &.active {
      @media (min-width: 768px) {
        .plus {
          opacity: 0;
        }
      }

      @media (max-width: 768px) {
        transform: rotate(45deg);
        position: fixed;
        top: 20px;
        right: 20px;

        .plus, .minus {
          background-color: #000000;
        }
      }
    }
  }
}

.container {
  width: 100%;
  padding-inline: 25px;
  max-width: calc(1410px + 50px);
  margin-inline: auto;
}

.container--large {
  max-width: calc(1496px + 50px);
}

.h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 164px;
  font-weight: 400;
  line-height: 1;
  transition: color 0.5s;

  @media (max-width: 1120px) {
    font-size: 140px;
    line-height: 112px;
  }
}

.process-hero h1,
.about-hero h1 {
   @media (max-width: 1120px) {
    font-size: 120px;

    & + p {
      max-width: 299px !important;
    }
  }

}

.p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.relative {
  position: relative;
}

.tcenter {
  text-align: center;
}

.section-title {
  font-size: 145px;
  font-weight: 400;
  font-family: 'Bebas Neue', sans-serif;
  color: var(--color-black);
  transition: color 1s;

  @media (max-width: 1024px) {
    font-size: 120px;
    line-height: 101px;
  }

  em {
    color: #848383;
    font-style: normal;
  }
}

.section-description {
  font-size: 26px;
  font-weight: 300;
  color: #848383;

  @media (max-width: 1024px) {
    font-size: 28px;
  }
}

.btn {
  text-decoration: none;
  color: var(--color-black);
  font-size: 25px;
  display: inline-block;
  padding: 22px 40px;
  border-radius: 10px;
  transition: color 1s, background-color 1s;

  &.button--sticky {
    position: static;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      max-width: 340px;
      width: 100%;
    }
  }

  &.button--active {
    transform: translateX(-50%);
    left: 50%;
    bottom: 50px;
    position: fixed;
  }

  @media (max-width: 1024px) {
    padding-inline: 5px;
  }
}

.actual-position {
  height: 65px;
  margin-top: 50px;
}

.contact-form {
  width: 100%;
  max-width: 1135px;
  margin-inline: auto;
  position: relative;
  text-align: center;
  padding-block: 20px;
  z-index: 1;

  @media (max-width: 1024px) {
    padding: 41px 32px 34px;
    padding-inline: 0;
  }

  &__p {
    max-width: 810px;
    margin-inline: auto;
  }

  &__btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 14px;

    @media (max-width: 768px) {
      justify-content: center;
    }

    a {
      color: var(--color-black);
      text-decoration: none;
      font-weight: 600;
    }
  }

  .gform_body {
    margin-top: 90px;

    @media (max-width: 768px) {
      margin-top: 0;
      max-width: 100%;
    }
  }

  .input {
    color: #fff;
    border: none;
    border: 1px solid #707070;
    height: 162px;
    border-radius: 6px;

    text-align: center;
    background-color: transparent;
    font-size: 36px !important;
    font-weight: 300 !important;
    font-family: 'Lato', sans-serif;

    &::placeholder {
      color: #fff;
      font-weight: 300 !important;
    }

    &:focus-visible {
      outline: none;
    }

    @media (max-width: 768px) {
      font-size: 28px !important;
      height: 104px;
      text-align: left;
      padding-inline: 35px !important;
    }
  }

  input,
  select {
    @extend .input;
    opacity: 1;
    -webkit-appearance: none;
    appearance: none;
  }

  select {
    display: flex;
    
    @media (min-width: 768px) {
      align-items: center;
      text-align-last: center;
      justify-content: center;
      
    }
  }

  .gfield.gfield--width-half {
    width: 100% !important;
    padding-right: 0 !important;

    @media (max-width: 768px) {
      max-width: 100% !important;
    }
  }

  .gform_wrapper .gform_fields {
    grid-column-gap: 4% !important;
    grid-row-gap: 54px !important;

    @media (max-width: 768px) {
      grid-row-gap: 27px !important;
    }
  }

  #gform_submit_button_1 {
    @extend .outline-btn;
    background-color: transparent !important;
    color: var(--color-black) !important;
    border: 1px solid var(--color-black);
    font-size: 36px !important;
    text-align: center;
    box-shadow: none !important;
    line-height: normal;
    margin-inline: auto;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 8px;
    height: auto;
    margin-top: 47px;

    @media (max-width: 768px) {
      max-width: 100% !important;
      margin-top: 29px !important;
      padding-block: 33px !important;
      text-align: left !important;
    }

    &:hover {
      background-color: var(--color-black) !important;
      color: var(--primary-color) !important;
    }
  }

  .textarea {
    @extend .input;
    font-family: inherit !important;
    min-block-size: auto !important;
    text-align: left;
    padding: 30px 35px !important;

    @media (max-width: 768px) {
      height: 523px !important;
    }
  }

  &.thankyou {
    color: #ffff;

    h2 {
      font-size: 108px;
      line-height: 1.2;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: 500;
      margin-top: 20px;

      @media (max-width: 768px) {
        font-size: 129px;
        line-height: 120px;
      }
    }

    p {
      font-size: 18px;

      @media (max-width: 768px) {
        font-size: 14px;
        margin-top: 20px;
        color: #848383;
      }
    }

    img {
      max-width: 100%;
    }

    @media (max-width: 1000px) {
      padding-top: 100px;
    }
  }

  #gform_ajax_spinner_1 {
    display: none;
  }

  .gform_validation_errors,
  .ginput_counter {
    display: none !important;
  }

  .validation_message {
    background: transparent !important;
    border: none !important;
    font-size: 10px !important;
    padding-inline: 0 !important;
  }

  .gform_wrapper.gravity-theme .gfield_error [aria-invalid=true] {
    border-width: 2px;
  }
}

.contact-form-section {
  .h1 {
    text-align: center;
    margin-bottom: 30px;
  }
}


  .outline-btn {
    display: inline-block;
    border: 1px solid #707070;
    border-radius: 6px;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
    max-width: 532px;
    width: 100%;
    padding-block: 65px;
    text-align: center;
    font-weight: 300;
    transition: 0.3s;

    &:hover {
      background-color: #FFFFFF;
      color: #000;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      padding-block: 42px;
    }
  }

  .gform_title {
    display: none;
  }

  .contact-form-section + .text {
    margin-top: 242px;

    @media (max-width: 768px) {
      margin-top: 112px;
    }
  }

  .contact-form-section ~ .site-footer {
    .btn-wrapper {
      display: none;
    }
  }

  #how .container {
    @media (max-width: 768px) {
      padding-inline: 0;
    }
  }

.terms {
  padding-block: 200px;

  &__title {
    font-size: 36px;
    margin-bottom: 50px;
  }

  &__description  p {
    line-height: 30px;
  }

  @media (max-width: 768px) {
     padding-block: 100px !important; 
  }
}

.footer_link {
  text-decoration: none;
  text-transform: uppercase;
  color: #848383;
}


.terms ~ .site-footer .btn-wrapper {
  display: none;
  border: 1px solid red;
}