@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: Arial;
  font-weight: 900;
  src: url(font/ArialBlack.woff);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  transition: 1s;
}

.h2.brand {
  color: var(--color-black);
  text-decoration: none;
  font-family: Arial;
  font-size: 29px;
  letter-spacing: 4px;
  line-height: 1;
  display: block;
  transition: color 1s;
}

html {
  scroll-behavior: smooth;
}

.site-header {
  &__container {
    padding: 42px 52px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    font-size: 18px;
    padding: 0;
    box-shadow: none;
    margin-right: 35px;
    font-weight: bold;
  }

  .sub-nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 42px;
    right: 52px;
    z-index: 100;
    
    ul {
      max-width: 0;
      overflow: hidden;
      display: flex;
      list-style: none;
      transition: 1s;

      &.show {
        max-width: 500px;
      }
    }
  }

  .hamburger-menu {
    background: none;
    border: none;
    font-family: 'Lato';
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    .plus {
      display: block;
      height: 18px;
      width: 2px;
      background-color: #fff;
      transition: 1s;
    }

    .minus {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &.active {
      .plus {
        opacity: 0;
      }
    }
  }
}

.container {
  width: 100%;
  padding-inline: 25px;
  max-width: calc(1410px + 50px);
  margin-inline: auto;
}

.container--large {
  max-width: calc(1496px + 50px);
}

.h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 164px;
  font-weight: 400;
  line-height: 1;
  transition: color 0.5s;

  @media (max-width: 1120px) {
    font-size: 120px;
  }
}

.p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.relative {
  position: relative;
}

.tcenter {
  text-align: center;
}

.section-title {
  font-size: 145px;
  font-weight: 400;
  font-family: 'Bebas Neue', sans-serif;
  color: var(--color-black);
  transition: color 1s;

  @media (max-width: 1024px) {
    font-size: 90px;
  }

  em {
    color: #848383;
    font-style: normal;
  }
}

.section-description {
  font-size: 26px;
  font-weight: 300;
  color: #848383;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.btn {
  text-decoration: none;
  color: var(--color-black);
  font-size: 25px;
  display: inline-block;
  padding: 22px 40px;
  border-radius: 10px;
  transition: color 1s, background-color 1s;

  &.button--sticky {
    position: static;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      max-width: 340px;
      width: 100%;
    }
  }

  &.button--active {
    transform: translateX(-50%);
    left: 50%;
    bottom: 50px;
    position: fixed;
  }

  @media (max-width: 1024px) {
    padding-inline: 5px;
  }
}

.actual-position {
  height: 65px;
  margin-top: 50px;
}

.contact-form {
  width: 100%;
  max-width: 1020px;
  margin-inline: auto;
  z-index: 4;
  position: relative;
  text-align: center;
  padding-block: 20px;

  @media (max-width: 1024px) {
    padding: 78px 32px 34px;
    padding-inline: 0;
  }

  &__p {
    max-width: 810px;
    margin-inline: auto;
  }

  &__btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 14px;

    @media (max-width: 768px) {
      justify-content: center;
    }

    a {
      color: var(--color-black);
      text-decoration: none;
      font-weight: 600;
    }
  }

  .gform_body {
    margin-top: 90px;

    @media (max-width: 768px) {
      margin-top: 50px;
      max-width: 100%;
    }
  }

  .input {
    border: none;
    border-bottom: 1px solid var(--color-black);
    background-color: transparent;
    color: var(--color-black);
    font-size: 36px !important;
    font-weight: 300 !important;
    padding: 0 !important;
     font-family: 'Lato', sans-serif;

    &::placeholder {
      color: var(--color-black);
      font-weight: 300 !important;
    }

    &:focus-visible {
      outline: none;
    }

    @media (max-width: 768px) {
      font-size: 28px !important;
    }
  }

  input,
  select {
    @extend .input;
    opacity: 1;
    height: 60px;
    -webkit-appearance: none;
    appearance: none;
  }

  select {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gfield.gfield--width-half {
    width: 100% !important;
    padding-right: 0 !important;

    @media (max-width: 768px) {
      max-width: 100% !important;
    }
  }

  .gform_wrapper .gform_fields {
    grid-column-gap: 6% !important;
    grid-row-gap: 140px !important;

    @media (max-width: 768px) {
      grid-row-gap: 46px !important;
    }
  }

  #gform_submit_button_1 {
    max-width: 357px !important;
    width: auto !important;
    background-color: transparent !important;
    color: var(--color-black) !important;
    border: 1px solid var(--color-black);
    font-size: 36px !important;
    text-align: center;
    box-shadow: none !important;
    padding: 20px 43px !important;
    line-height: normal;
    margin-inline: auto;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 8px;
    height: auto;
    margin-top: 145px;

    @media (max-width: 768px) {
      max-width: 100% !important;
      margin-top: 54px !important;
    }

    &:hover {
      background-color: var(--color-black) !important;
      color: var(--primary-color) !important;
    }
  }

  .textarea {
    @extend .input;
      height: 60px !important;
    font-family: inherit !important;
    min-block-size: auto !important;
  }

  &.thankyou {
    h2 {
      font-size: 108px;
      line-height: 1.2;

      @media (max-width: 768px) {
        font-size: 40px;
      }
    }

    p {
      font-size: 18px;
    }

    img {
      max-width: 100%;
    }

    @media (max-width: 1000px) {
      padding-top: 0;
    }
  }

  #gform_ajax_spinner_1 {
    display: none;
  }

  .gform_validation_errors,
  .ginput_counter {
    display: none !important;
  }

  .validation_message {
    background: transparent !important;
    border: none !important;
    font-size: 10px !important;
    padding-inline: 0 !important;
  }

  .gform_wrapper.gravity-theme .gfield_error [aria-invalid=true] {
    border-width: 2px;
  }
}

.contact-form-section {
  .h1 {
    text-align: center;
    margin-bottom: 30px;
  }
}
